<div class="row medium-8 large-7 columns">
    {{#each post in posts}}
    <div class="blog-post">
        <h3>{{post.title}} <small>{{format_date post.created_at}}</small></h3>
        <p>{{body}}</p>
        <div class="callout">
            <ul class="menu simple">
                <li><a href="/user/{{post.user.username}}">Author: {{post.user.username}}</a></li>
            </ul>
        </div>
    </div>
</div>